@page "/deletegoal/{GoalId:int}"
@layout MainLayout
@rendermode InteractiveServer

@using GoalGrower.Data
@using GoalGrower.Models
@using System.Reflection.Metadata
@using Microsoft.EntityFrameworkCore
@inject NavigationManager Navigation
@inject AppDbContext _context

<PageTitle>Delete Goal Page</PageTitle>

@if (goal == null)
{
    <p>Loading goal...</p>
}
else
    {
    <h1>Delete @goal.GoalName Goal</h1>

    <div class="details-container">
        <p>Description: @goal.GoalDescription</p>
        <p>Goal Amount: $@goal.GoalAmount</p>
        <p>Complete By Date: @goal.CompletionDate</p>
    </div>
    <div class="details-container">
        <div class="detail">
            <p>Description:</p>
            <p>@goal.GoalDescription</p>
        </div>

        <div class="detail">
            <p>Goal Amount:</p>
            <p>@goal.GoalAmount</p>
        </div>

        <div class="detail">
            <p>Complete By Date:</p>
            <p>@goal.CompletionDate</p>
        </div>
    </div>
    
    <div class="form-button-options">
        <button type="submit" @onclick="HandleDeleteGoal" class="delete-btn">Confirm Delete</button>
        <a class="cancel-button" href="/goaldetails/@GoalId">Cancel</a>
    </div>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p style="color:red">@errorMessage</p>
    }
}

@code {
    [Parameter]
    public int GoalId { get; set; }

    private GoalModel? goal;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            goal = await _context.Goals
            .Where(g => g.GoalId == GoalId).FirstOrDefaultAsync(g => g.GoalId == GoalId);

            if (goal == null)
            {
                errorMessage = "Goal not found.";
                return;
            }
        }
        catch (Exception ex)
        {
            errorMessage = "Error loading goal: " + ex.Message;
        }
    }

     private async Task HandleDeleteGoal()
    {
        if (goal == null)
        {
            errorMessage = "Goal not loaded.";
            return;
        }

        try
        {
            _context.Goals.Remove(goal);
            await _context.SaveChangesAsync();

            // Navigate back to dashboard or goals list
            Navigation.NavigateTo("/dashboard");
        }
        catch (Exception ex)
        {
            errorMessage = $"Error deleting goal: {ex.Message}";
        }
    }
}