@page "/deletegoal/{GoalId:int}"
@layout MainLayout

@using GoalGrower.Data
@using GoalGrower.Models
@using Microsoft.EntityFrameworkCore

@inject AppDbContext _context

<PageTitle>Goal Grower - Delete Goal Page</PageTitle>

<h1>Delete @goal.GoalName Goal</h1>

<div class="details-container">
    <div class="detail">
        <p>Description:</p>
        <p>@goal.GoalDescription</p>
    </div>

    <div class="detail">
        <p>Goal Amount:</p>
        <p>@goal.GoalAmount</p>
    </div>

    <div class="detail">
        <p>Complete By Date:</p>
        <p>@goal.CompletionDate</p>
    </div>
</div>

<button type="submit" @onclick="HandleDeleteGoal" class="delete-btn">Confirm Delete</button>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {
    [Parameter]
    public int GoalId { get; set; }

    private GoalModel? goal;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            goal = await _context.Goals
            .Include(g => g.Transactions)
            .FirstOrDefaultAsync(g => g.GoalId == GoalId);

            if (goal == null)
            {
                errorMessage = "Goal not found.";
                return;
            }
        }
        catch (Exception ex)
        {
            errorMessage = "Error loading goal: " + ex.Message;
        }
    }

    private async Task HandleDeleteGoal()
    {
        errorMessage = string.Empty;

        // Logic to delete the goal goes here
        // After deleting the goal navigate back to dashboard
    }
}