@page "/deletetransaction/{TransactionId:int}"
@layout MainLayout
@rendermode InteractiveServer

@using GoalGrower.Data
@using GoalGrower.Models
@using Microsoft.EntityFrameworkCore

@inject AppDbContext _context

<PageTitle>Goal Grower - Delete Transaction Page</PageTitle>

<h1>Delete Transaction</h1>

<div class="details-container">
    <div class="detail">
        <p>Goal:</p>
        <p>@transaction.Goal.GoalName</p>
    </div>

    <div class="detail">
        <p>Date:</p>
        <p>@transaction.TransactionDate</p>
    </div>
    <div class="detail">
        <p>Type:</p>
        <p>@transaction.TransactionType</p>
    </div>
    <div class="detail">
        <p>Amount:</p>
        <p>@transaction.TransactionAmount</p>
    </div>
    <div class="detail">
        <p>Description:</p>
        <p>@transaction.TransactionDescription</p>
    </div>
</div>

<button type="submit" @onclick="HandleDeleteTransaction" class="delete-btn">Confirm Delete</button>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {
    [Parameter]
    public int TransactionId { get; set; }

    private TransactionModel? transaction;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            transaction = await _context.Transactions
            .Include(t => t.Goal)
            .FirstOrDefaultAsync(t => t.TransactionId == TransactionId);

            if (transaction == null)
            {
                errorMessage = "Transaction not found.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = "Error loading transaction: " + ex.Message;
        }
    }

    private async Task HandleDeleteTransaction()
    {
        // Logic to delete transaction
    }
}