@page "/transactiondetails"
@using System.Reflection.Metadata
@layout MainLayout

@using GoalGrower.Models

<PageTitle>Goal Grower Transaction Details Page</PageTitle>

<h1>Transaction Details</h1>

<div class="details-container">
    <p>Date: @transaction.TransactionDate</p>
    <p>Type: @transaction.TransactionType</p>
    <p>Amount: @transaction.TransactionAmount</p>
    <p>Description: @transaction.TransactionDescription</p>

    <div class="icon-container">
        <a class="edit-transaction-icon" href="edittransaction">
            <img src="/images/edit-icon.png" alt="edit icon" class="icon" />
        </a>
        <a class="delete-transaction-icon" href="/deletetransaction">
            <img src="/images/delete-icon.png" alt="delete icon" class="icon" />
        </a>
    </div>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {
    [Parameter]
    public int TransactionId { get; set; }

    private TransactionModel transaction = new TransactionModel();
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        // Logic to load goal details here
    }
}