@page "/goaldetails"
@layout MainLayout

@using GoalGrower.Models

<PageTitle>Goal Grower - Goal Details Page</PageTitle>

<h1>@goal.GoalName Details</h1>

<div class="details-container">
    <p>Description:</p>
    <p>@goal.GoalDescription</p>

    <p>Goal Amount:</p>
    <p>$@goal.GoalAmount</p>

    <p>Complete By Date:</p>
    <p>@goal.CompletionDate</p>
</div>

<h2>Transactions</h2>
<button type="submit">Add Transaction</button>

<div class="transactions-container">
    @if (transactions != null && transactions.Any())
    {
        <ul>
            @foreach (var transaction in transactions)
            {
                <li>@transaction.TransactionDate | @transaction.TransactionType | @transaction.TransactionAmount</li>
            }
        </ul>
    }
    else
    {
        <p>Nothing here yet!</p>
    }
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {
    [Parameter]
    public int GoalId { get; set; }

    private GoalModel goal = new GoalModel();
    private List<TransactionModel> transactions = new List<TransactionModel>();
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        // Logic to load goal details here
    }

}